<%= provide(:title, @book.name) %>

<div>
  <strong>Name:</strong>
  <%= @book.name %>
</div>

<div>
  <strong>Author:</strong>
  <%= @book.author %>
</div>

<div>
  <strong>divrice:</strong>
  <%= @book.divrice %>
</div>

<div>
  <strong>Detail:</strong>
  <%= @book.detail %>
</div>

<div>
  <strong>Category:</strong>
  <%= @book.category %>
</div>

<div>
  <strong>Total amout:</strong>
  <%= @book.total_amount %>
</div>

<div>
  <strong>Ready ammout:</strong>
  <%= @book.ready_amount %>
</div>

